name: Update Rectors Data

on:
  schedule:
    - cron: "0 6 * * *" # Tous les jours à 6h UTC
  workflow_dispatch:

permissions:
  contents: write

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run Scraper
        run: node scraper.js

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "data: mise à jour des recteurs"
          file_pattern: "recteurs.json"
